<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/92707715c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title> <%= locals.title %> </title>
</head>
<body>
    <h1 id="page-heading">
        <i class="fa-solid fa-address-book"></i>
        My Contact List
    </h1>
    <ul id="contact-list">
        <% for(let contact of contact_list) { %>
            <li class="contact-item">
                <div class="details">
                    <span class="contact-name"><%= contact.name %></span>
                    <span class="contact-phone"><%= contact.phone %></span>
                </div>
                <div class="delete-btn">
                    <a href="/delete-contact/?id=<%=contact._id%>">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </li>
        <% } %>
    </ul>
    <form action="/create-contact" method="POST" class="form">
        <input type="text" name="name" placeholder="Enter your number" required>
        <input type="number" name="phone" placeholder="Enter your phone number" required>
        <button type="submit"> Add Contact </button>
    </form>
    <script src="/js/home.js" type="text/javascript"></script>
</body>
</html>